<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src={{pdata.productImage}} alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">Rating {{pdata.rating}}</div>
                <h1 class="display-5 fw-bolder">{{pdata.productName}}</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">{{pdata.price}}</span>
                    
                </div>
                <p class="lead">{{pdata.description}}</p>
                <p class="lead">Review {{pdata.review}}</p>
                <p class="lead">Vendor Name {{pdata.vendorName}}</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button class="btn btn-warning"><i class="fa-solid fa-pen-to-square me-2"></i>
                        <a href="product/edit/{{pdata.id}}" style="text-decoration:none; color:black;">edit</a></button>
                    <button (click)="deleteProduct()" class="btn btn-danger ms-2"><i class="fa-solid fa-trash me-2" style="color:black;"></i><a style="text-decoration:none; color:black;">delete</a></button>
                </div>
            </div>
        </div>
    </div>
</section>