<!-- Section-->
<section class="py-5">

    <!-- filter buttons -->
    <div class="text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button (click)="categoryProduct('')" type="button" class="btn btn-dark">ALL</button>
            <button (click)="categoryProduct(1)" type="button" class="btn btn-dark">LAPTOPS</button>
            <button (click)="categoryProduct(2)" type="button" class="btn btn-dark">PHONES</button>
            <button (click)="categoryProduct(3)" type="button" class="btn btn-dark">TABLETS</button>
        </div>
    </div>

    <div class="container px-4 px-lg-5 mt-5">



        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div *ngFor="let i of categoryArray | search : searchString : 'productName'" class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img style="height: 300px;" class="card-img-top" src={{i.productImage}} alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{i.productName}}</h5>
                            <!-- Product price-->
                            {{i.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                href="product/view/{{i.id}}">View</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>